/* ---------------------------------
    common styles start from here
--------------------------------- */
* {
    margin: 0;

    font-family: Lato;
}

.text-primary {
    color: #E55473;
}

.btn-primary {
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 20px;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    background: #E55473;
    color: #fff;
}

/* -----------------------------------------
    header & banner styles start from here
----------------------------------------- */
header {
    background-color: rgba(229, 84, 115, 0.085);
    height: 550px;
    margin-bottom: 100px;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px 0;
}

.banner-info {
    width: 50%;
}

.banner-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 25px;
}

.banner-img-container {
    width: 40%;

}

.banner-img {
    width: 400px;
    height: 520px;
    flex-shrink: 0;
}

/* -----------------------------------------
    feature section styles start form here
---------------------------------------- */
.feature-box-container {
    width: 80%;
    margin: auto;
}

.feature-box-info {
    width: 730px;
    text-align: center;
    margin: auto;
}

.feature-box-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.feature-box-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 25px;
}

.feature-box-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0px;
}

.feature-box-item {
    text-align: center;
}

.feature-box-img-one {
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 220px;
    height: 320px;
    padding: 40px 40px 0;
}

.feature-box-item-name {
    font-size: 20px;
    text-decoration: underline;
    margin-top: 20px;
}

.feature-box-img-tow {
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 220px;
    height: 280px;
    padding: 40px;
}

.feature-box-img-three {
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 220px;
    height: 320px;
    padding: 40px 40px 0;
}

/* -------------------------------------
    Deal section style start from here
------------------------------------ */
.deal-option-container {
    width: 80%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 55px 0;
}

.deal-option {
    text-align: center;
}

.deal-option-name {
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    line-height: 30px;
}

/* ------------------------------------------
    Hot deals section style start from here
------------------------------------------ */
.hot-deal-container {
    height: 380px;
    background-color: rgba(229, 84, 115, 0.107);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 100px;
}

.hot-deal-info {
    width: 50%;
    text-align: center;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
}

.hot-deal-img {
    width: 300px;
}

/* -----------------------------------------
    instagram flower styles start from here
------------------------------------------ */
.insta-container {
    width: 80%;
    margin: 100px auto;
}

.insta-flower-info {
    width: 550px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.insta-title {
    color: #202020;
    font-size: 30px;
    margin-bottom: 10px;
}

.insta-description {
    font-size: 18px;
    line-height: 25px;
}

.insta-flowers {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.insta-flower-img {
    width: 230px;
}

/* ---------------------------------------
    subscription section start from here
---------------------------------------- */
.subscription-container {
    width: 80%;
    height: 300px;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    background-image: url(../Asset/Rectangle\ 9.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.subscription-menu {
    padding: 70px;
}

.subscription-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #202020;
}

.subscription-caption {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 40px;
}

.form {
    display: block;
}

.subscription-email {
    padding: 15px 200px 14px 30px;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    margin-right: 10px;
}

/* ----------------------------------------------
    unique about section styles start from here
------------------------------------------------ */
.aobut-container {
    display: flex;
    justify-content: space-between;
    margin: 80px;
    gap: 30px;
}

.about {
    width: 50%;
    text-align: center;
}

.service-icon {
    font-size: 70px;
    padding: 20px;
    color: rgb(58, 58, 58);
    border: 3px solid rgb(58, 58, 58);
    border-radius: 50%;
    margin-bottom: 20px;
}

.about-title {
    font-size: 30px;
    color: rgb(58, 58, 58);
    margin-bottom: 20px;
}

.about-list {
    text-align: left;
    line-height: 30px;
    font-size: 18px;
    color: gray;
    margin-bottom: 30px;
}

.learn-more-btn-arrow {
    margin-left: 8px;
}

/* ----------------------------------
    footer styles start from here
---------------------------------- */
footer {
    height: 200px;
    padding: 80px 80px 40px;
    background-color: #202020;
    text-align: center;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
    color: white;
    margin-bottom: 30px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}

.web-reservation {
    color: gray;
}