/* -----------------------
    common styles
------------------------- */
* {
    margin: 0;

    font-family: 'Roboto';
}

.btn-primary {
    padding: 14px 35px;
    border-radius: 8px;
    font-size: 20px;
    border: 0;
    font-weight: 700;
    cursor: pointer;
    background: #E55473;
    color: #fff;
}

/* -------------------------
    header & banner styles
--------------------------- */
header {
    background-color: rgba(229, 84, 115, 0.153);
    height: 90vh;
    margin-bottom: 100px;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px 0;
}

.banner-info {
    width: 50%;
}

.banner-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 25px;
}

.banner-image {
    width: 40%;

}

.banner-img {
    width: 435px;
    height: 520px;
    flex-shrink: 0;
}

/* ----------------------------
    feature section styles
------------------------- */
.feature-container {
    width: 80%;
    margin: auto;
}

.feature-info {
    width: 530px;
    text-align: center;
    margin: auto;
}

.feature-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 25px;
}

.feature-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0px;
}

.feature-item {
    text-align: center;
}

.feature-img-one {
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 220px;
    height: 320px;
    padding: 40px 40px 0;
}

.feature-item-name {
    font-size: 20px;
    text-decoration: underline;
    margin-top: 20px;
}

.feature-img-tow {
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 220px;
    height: 320px;
    padding: 40px 40px 0;
}

.feature-img-three {
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 220px;
    height: 320px;
    padding: 40px 40px 0;
}

/* ------------------------------
    Deal section style
----------------------------- */
.deal-container {
    width: 80%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 55px 0;
}

.deal-option {
    text-align: center;
}

.deal-name {
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    font-family: lato;
    line-height: 30px;
}